/target/
/.project
/.classpath
/bin/
.factorypath
/.settings/
statement_en.html
statement_fr.html
src/main/resources/view/node_modules/
src/main/resources/view/graphics/
src/main/resources/view/endscreen-module/
bots/NN
best.pkl
last_generation_fitness.txt